.signup-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 background: linear-gradient(90deg, #ABD1AF, #87B3B4, #8ABCBD, #ce99c1);
}
.signup-card {
    position: relative;
  background: rgba(255,255,255,0.95); 
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
  width: 600px;
  height: 600px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-card-header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
}
.signup-card h1{
    margin-top: 3rem;
}
.signup-card h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.signup-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-card input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.btn1 {
    width: 200px;
    margin-left: 10rem;
  padding: 12px 16px;
  font-size: 16px;
  background: #40455d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.btn1:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.signup-card span {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.signup-card span a {
  color: #87B3B4;
  text-decoration: none;
  font-weight: 500;
}

.signup-card span a:hover {
  text-decoration: underline;
}