.hero-section {
    
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.floating-icon1{
    position: absolute;
    top: 33%;
    right: 33rem;
    width: 10rem;
    height: auto;
    z-index: 3;
}
.floating-icon2{
    position: absolute;
    top: 38%;
    right: 35rem;
    width: 10rem;
    height: auto;
    z-index: 3;
}


.hero-text {
    position: absolute;
    top: 20%;
    left: 8%;
  max-width: 500px;
  color: rgb(11, 0, 0); 
  z-index: 10;
  
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.hero-text p {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  text-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.hero-btn {
  display: flex;
  gap: 3rem;
  
}

.btn-1 {
  padding: 0.75rem 2rem;
  background-color: #1c5769;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btn-1:hover {
    background-color: #297288;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.btn-2 {
  padding: 0.75rem 2rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
   transition: all 0.3s ease;
}
.btn-2:hover {
background-color: #aaadad;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
@media screen and (max-width: 768px) {
    .hero-text h1{
        font-size: 3rem;
    }
    .hero-text p {
  font-size: 1.6rem;}
}